@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

.mission-container {
  background: #c1d9fb;
  height: 70vh;
  margin: 3rem;
  padding: 2rem;
  font-family: "Raleway", sans-serif;
  justify-content: center;
}
h1 {
  font-size: 24px;
}
 strong {
  padding-left: 5px;
  padding-right: 5px;
 }

 .class {
  padding-top: 5px;
  font-size: 27px;
 }