@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

.mission-container {

}
h1 {
  font-size: 24px;
  font-style: italic;
}
 strong {
  padding-left: 5px;
  padding-right: 5px;
 }
